/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-jun-2017, 19:40:19
    Author     : Joana
*/
/*fondos*/
@import url('https://fonts.googleapis.com/css?family=Iceland');
@import url('https://fonts.googleapis.com/css?family=Khula');

/*Menu principal*/
.navbar-default {
    border-color: transparent !important;
}
.logoeci a{
    font-family: 'Iceland', cursive;
    font-size: 4.5em;
    color: #228DFF !important;
}

.logoeci a:hover{
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
}

#logo {
    padding: 20px;
    font-size: 18px;
    transition: all ease .5s;
}

nav{
    height: 70px;
    background: transparent;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 99999;
    transition: all ease .1s;
}

.navbar-default {
    background-color: transparent;
}

nav.navbar.shrink{
    height: 60px;
    padding-top: 0px;
    background: #052837 !important;

}
.navbar-default nav.navbar.shrink>li>a {
    color: #0044cc;
    padding-top: 30px;
}

.navbar-default .navbar-nav>li>a {
    color: floralwhite !important;
}

/*imagen principal*/
.intro {
    width: 100%;
    position: relative;
    background: url(../images/inicio.png) no-repeat top center;
    background-size: cover;
    height: auto;
    background-image: url(../images/inicio.png);
}

#intro.intro {
    padding: 20% 0 0 0;
}

.slogan h2{
    font-family: 'Iceland';
    font-size: 4.5em;
    color: #052837;
}

/*Imagen Administrador*/
.admin{
    width: 100%;
    position: relative;
    background: url(../images/administrador.png);
    background-size: cover;
    height: auto;
    background-image: url(../images/administrador.png);
}
#admin.admin{
    padding: 20% 0 0 0;
}

.slogan#slo h2{
    color: #ffc107 !important;
}

/*Tablas*/
.grid-view table.items th {
    background: #052837 !important;
    font-family: 'Khula', sans-serif;
}

.grid-view table.items tr.odd {
    background: #91a0a7 !important;
    font-family: 'Khula', sans-serif;
    color: #FFF;
}

.grid-view table.items tr.selected {
    background: #607d8b !important;
    color:#FFF;
}

.grid-view table.items tbody tr:hover {
    background: #60638b !important;
    color:#FFF;
}

.grid-view table.items tr.even {
    font-family: 'Khula', sans-serif;
}


/*Login*/
.tituloP h1{
    font-family: 'Khula', sans-serif;
    color: #052837;
    text-align: center;
}

.login{
    border-radius: 23px;
    background: #D4D5D9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#EFEFEF, #D4D5D9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#EFEFEF, #D4D5D9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#EFEFEF, #D4D5D9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#EFEFEF, #D4D5D9); /* Standard syntax */
    box-shadow: 10px 10px 5px #888888;
    margin-bottom: 25px;
    font-family: 'Khula', sans-serif;
    font-size: 1.2em;
}

.sep{
    margin-top: 10px;
}

.botonlogin{
    text-align: center;
}

.botonlogin .btn-primary{
    background: #052837 !important;
    font-family: 'Khula', sans-serif;
}

.botonlogin .btn-primary:hover {
    background: #60638b !important;
}
.recordar{
    text-align: left; 
}
.recordar a{
    font-family: 'Khula', sans-serif;
    color: #60638b;

}
.clave{
    text-align: right;
}
.clave a{
    font-family: 'Khula', sans-serif;
    color: #60638b;

}

/*primera parte*/
#page {
    margin-top: 0px !important;
    border: 0px !important;
}
/*index*/
.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 40%;
    height: 40%;
}
.person:hover {
    border-color: #f1f1f1;
}

.int1{
    text-align: center;
}

.int2{
    text-align: center;
}

.titulo h1{
    font-family: 'Iceland';
    text-align: center;
    color: #052837;
    font-size: 5.0em;
    margin-bottom: 7%;
}

.int1 p strong{
    font-family: 'Iceland';
    color: #052837;
    font-size: 1.9em;
}

.int1 p{
    font-family: 'Khula', sans-serif;
    font-size: 1.0em;
    color: #000;
}

.int2 p strong{
    font-family: 'Iceland';
    color: #052837;
    font-size: 1.9em;
}

.int2 p{
    font-family: 'Khula', sans-serif;
    font-size: 1.0em;
    color: #000;
}

.foo{
    background-color: #052837;
}

.ini{
    text-align: center;
    font-family: 'Khula', sans-serif;
    font-size: 1.0em;
    color: #FFF;
}

.ini1{
    text-align: center;
    font-family: 'Khula', sans-serif;
    font-size: 1.0em;
    color: #FFF;
    margin-top: 23px;
}

/**Vistas**/
table.detail-view tr.odd {
    background:#91a0a7 !important;
    color: #FFF;
    font-family: 'Khula', sans-serif;
    font-size: 1.12em;
}

table.detail-view tr.even{
    font-family: 'Khula', sans-serif;
    font-size: 1.12em;
}


/** boton Actualizar**/
.actualizar{
    padding: 19px;
    text-align: center;
}

.actualizar .btn-success{
    font-family: 'Iceland';
    font-size: 1.5em;
    background-color: #052837 !important;
    border-color: #052837 !important;
}

.actualizar .btn-success:hover {
    background-color: #91a0a7;
    border-color: #91a0a7;
}

/**Boton para agregar reglas**/

.mmf_addlink a{
    display: inline-block !important;
    padding: 6px 12px !important;
    margin-bottom: 0 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1.42857143 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    cursor: pointer !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    background-image: none !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
    color: #fff !important;
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
}

.mmf_addlink a:hover{
    text-decoration: none !important;
}

.mmf_addlink{
    margin-top: 12px;
    padding-bottom: 20px;
    text-align: right;
}


.mmf_cell a{
    display: inline-block !important;
    padding: 6px 12px !important;
    margin-bottom: 0 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1.42857143 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    cursor: pointer !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    background-image: none !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
    color: #fff !important;
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
    margin-left: 20px;
    counter-increment: section;
    content: "Section " counter(section) ": ";
}

.mmf_cell a:hover{
    text-decoration: none !important;
}

/**Pagina lógica**/
#solucion{
    border-radius: 7px;
    border: 1px solid #ccc;
}

#solucion .btn-link{
    color: #333 !important;
}

#solucion .btn-link:hover{
    background: #333 !important;
    color: #FFF !important;
}

#regla_apl{
    margin-top: 5px;
}

/*titulo*/
@-webkit-keyframes neon2 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
}

@media only screen and (max-width:800px) {
    .navbar-nav {
        margin: 7.5px -15px;
        background:#052837;
    }
}